# Opšte aplikacione postavke
SPRING_APPLICATION_NAME="your-app-name"

# Hibernate konfiguracija
SPRING_JPA_HIBERNATE_DDL_AUTO="update"
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT="org.hibernate.dialect.MySQLDialect"
SPRING_JPA_SHOW_SQL="true"

# MySQL konfiguracija za razvoj
DEV_DB_USERNAME="your-db-username"
DEV_DB_PASSWORD="your-db-password"
DEV_DB_HOST="your-db-host"
DEV_DB_PORT="your-db-port"
DEV_DB_NAME="your-db-name"

# RabbitMQ konfiguracija
RABBITMQ_HOST="your-rabbitmq-host"
RABBITMQ_PORT="your-rabbitmq-port"
RABBITMQ_USERNAME="your-rabbitmq-username"
RABBITMQ_PASSWORD="your-rabbitmq-password"

# JWT konfiguracija
JWT_SECRET="your-jwt-secret"
JWT_EXPIRATION_MS="your-jwt-expiration-ms"

